@CHARSET "UTF-8";

body {
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center center;
  	background-size: cover;
  	text-shadow: 0 0 2px silver;
}	
table{
	margin: 0 auto;
	margin-top: 150px;
	border-radius: 5px;
	font-size: 15px;
	background: rgba(250,250,250,0.6);
}

td ,th{
	padding: 5px;
}

#divJson {
	color:white;
	font-size: 22px;
}